<%= turbo_frame_tag "edit_form" do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "space-y-6" }) do |f| %>
    
    <!-- File Upload -->
    <div class="space-y-2" data-controller="file-upload">
      <label for="<%= dom_id(resource, :dropzone_file) %>" class="block text-sm font-medium text-gray-900 dark:text-white">
        プロフィール画像
      </label>
      <div class="flex items-center justify-center w-full">
        <label for="<%= dom_id(resource, :dropzone_file) %>" 
          class="flex items-center w-full bg-gray-50 border border-gray-300 text-gray-500 dark:text-white rounded-lg cursor-pointer focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600" 
          data-file-upload-target="label" style="height: 44px;">
          <div class="bg-gray-200 dark:bg-gray-600 text-gray-700 dark:text-white px-4 py-2 rounded-tl-lg rounded-bl-lg flex items-center min-w-[120px]">
            <%= t('activerecord.attributes.catch.new.upload_prompt') %>
          </div>
          <div class="flex-1 px-4 py-2 bg-gray-50 dark:bg-gray-700 border-l border-gray-300 dark:border-gray-600 rounded-tr-lg rounded-br-lg truncate">
            <span class="text-sm text-gray-500 dark:text-white truncate" data-file-upload-target="fileName">
              <%= t('activerecord.attributes.catch.new.upload_placeholder') %>
            </span>
          </div>
          <%= f.file_field :profile_image, id: dom_id(resource, :dropzone_file), class: "hidden", direct_upload: true, data: { action: "change->file-upload#displayFileName", file_upload_target: "fileInput" } %>
        </label>
      </div>
    </div>

    <!-- Username -->
    <div class="space-y-2">
      <label for="username" class="block text-sm font-medium text-gray-900 dark:text-white">
        Username
      </label>
      <%= f.text_field :username, id: "username", autocomplete: "username", placeholder: t('activerecord.attributes.user.username'), 
        class: "block w-full p-2.5 bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" %>
    </div>

    <!-- Email -->
    <div class="space-y-2">
      <label for="user_email" class="block text-sm font-medium text-gray-900 dark:text-white">
        Your email
      </label>
      <%= f.email_field :email, id: "user_email", autocomplete: "email", placeholder: t('activerecord.attributes.user.email'), 
        class: "block w-full p-2.5 bg-gray-700 border border-gray-600 text-white rounded-lg focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400" %>
    </div>

    <!-- Submit Button -->
    <div class="mt-6">
      <%= f.submit t('.update'), 
        class: "w-full text-white bg-blue-900 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-800 font-medium rounded-lg px-5 py-2.5 text-center" %>
    </div>

  <% end %>
<% end %>