<div class="w-full max-w-xs mx-auto text-center">
  <h2 class="text-neutral-content font-bold text-lg"><%= t('.edit') %></h2>
</div>

<div class="w-full max-w-xs mx-auto text-center mt-4 mb-4">
  <% if resource.profile_image.attached? %>
    <%= image_tag resource.profile_image.variant(resize_to_limit: [100, 100]), alt: "profile_image", class: "w-24 h-24 rounded-full mx-auto" %>
  <% else %>
    <%= image_tag "default_profile_image.png", alt: "default_profile_image", class: "w-24 h-24 rounded-full mx-auto" %>
  <% end %>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "flex flex-col items-center justify-center space-y-3 mb-3 text-neutral-content font-bold" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-control w-full max-w-xs relative">
    <%= f.file_field :profile_image, class: "file-input file-input-bordered w-full max-w-xs text-neutral-content font-bold" %>
  </div>

  <div class="form-control w-full max-w-xs relative">
    <i class="fas fa-user absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
    <%= f.text_field :username, placeholder: t('activerecord.attributes.user.username'), autocomplete: "username", class: "input input-bordered w-full max-w-xs pl-10 text-neutral-content font-bold" %>
  </div>

  <div class="form-control w-full max-w-xs relative">
    <i class="fas fa-envelope absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
    <%= f.email_field :email, placeholder: t('activerecord.attributes.user.email'), autocomplete: "email", class: "input input-bordered w-full max-w-xs pl-10 text-neutral-content font-bold" %>
  </div>

  <div class="actions w-full max-w-xs">
    <%= f.submit t('.update'), class: "btn btn-outline w-full max-w-xs text-neutral-content font-bold text-lg" %>
  </div>

  <div class="w-full max-w-xs mx-auto flex items-center text-neutral-content">
    <hr class="flex-grow border-t border-neutral-content">
    <span class="mx-4 font-bold">または</span>
    <hr class="flex-grow border-t border-neutral-content">
  </div>

  <div class="w-full max-w-xs mx-auto text-center">
    <details class="text-neutral-content">
      <summary class="cursor-pointer font-bold text-center">アカウントの削除はこちら</summary>
      <div class="actions w-full max-w-xs mx-auto mt-4">
        <%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { turbo_confirm: t('.are_you_sure'), turbo_method: :delete }, class: "btn btn-outline btn-primary w-full max-w-xs text-neutral-content font-bold text-lg" %>
      </div>
    </details>
  </div>
<% end %>
