<div id="sign_up_errors"></div>

<div class="w-full max-w-xs mx-auto text-center">
  <h2 class="text-neutral-content font-bold text-lg"><%= t('.sign_up') %></h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "flex flex-col items-center justify-center space-y-3 mb-3 text-neutral-content font-bold", id: "new_user_registration" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-control w-full max-w-xs relative">
    <i class="fas fa-user absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
    <%= f.text_field :username, placeholder: t('activerecord.attributes.user.username'), id: "user_registration_username", autocomplete: "username", class: "input input-bordered w-full max-w-xs pl-10 text-neutral-content font-bold" %>
  </div>

  <div class="form-control w-full max-w-xs relative">
    <i class="fas fa-envelope absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
    <%= f.email_field :email, placeholder: t('activerecord.attributes.user.email'), id: "user_registration_email", autocomplete: "email", class: "input input-bordered w-full max-w-xs pl-10 text-neutral-content font-bold" %>
  </div>

  <div class="form-control w-full max-w-xs relative">
    <i class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
    <%= f.password_field :password, placeholder: t('activerecord.attributes.user.password'), id: "user_registration_minimum_password_length", autocomplete: "new-password", class: "input input-bordered w-full max-w-xs pl-10 text-neutral-content font-bold" %>
  </div>

  <div class="form-control w-full max-w-xs relative">
    <i class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
    <%= f.password_field :password_confirmation, placeholder: t('activerecord.attributes.user.password_confirmation'), id: "user_registration_confirmation", autocomplete: "new-password", class: "input input-bordered w-full max-w-xs pl-10 text-neutral-content font-bold" %>
  </div>

  <div class="divider divider-neutral w-full max-w-xs mx-auto"></div>

  <div class="actions w-full max-w-xs">
    <%= f.submit t('.sign_up'), class: "btn btn-outline btn-primary w-full max-w-xs text-neutral-content font-bold text-lg" %>
  </div>
<% end %>
