<div id="<%= dom_id(comment) %>" class="py-3 flex items-start gap-2.5">
  <!-- User image and edit menu -->
  <div class="relative">
    <!-- User image -->
    <%= image_tag comment.user.profile_image, class: "w-8 h-8 md:w-10 md:h-10 rounded-full object-cover", alt: "#{comment.user.username} profile image" %>
    <!-- Edit menu -->
    <% if comment.user == current_user %>
      <button id="dropdownMenuIconButton_<%= comment.id %>" data-dropdown-toggle="dropdownDots_<%= comment.id %>" data-dropdown-placement="bottom-start" class="absolute top-full left-1/2 transform -translate-x-1/2 mt-2 inline-flex items-center text-sm md:text-base font-medium text-center text-gray-900 bg-white rounded-lg focus:ring-gray-50 dark:bg-gray-700 dark:hover:bg-gray-800 dark:focus:ring-gray-600" type="button">
        <svg class="w-6 h-6 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-width="3" d="M6 12h.01m6 0h.01m5.99 0h.01"/>
        </svg>
      </button>
      <div id="dropdownDots_<%= comment.id %>" class="absolute z-10 hidden rounded-lg shadow w-40 dark:bg-gray-700 border border-gray-800 top-10 left-1/2 transform -translate-x-1/2">
        <ul class="py-2 text-sm md:text-base text-gray-700 dark:text-gray-200" aria-labelledby="dropdownMenuIconButton_<%= comment.id %>">
          <li class="w-full block">
            <button class="block w-full px-4 py-2 text-gray-400 text-left" data-modal-target="<%= dom_id(comment, :modal) %>" data-modal-toggle="<%= dom_id(comment, :modal) %>" data-action="click->hello#stopToggle" type="button">
              <%= t('activerecord.attributes.comment.edit.edit') %>
            </button>
          </li>
          <li class="w-full block">
            <%= button_to t('activerecord.attributes.comment.edit.delete'), catch_comment_path(comment.catch, comment), method: :delete, data: { turbo_method: :delete }, class: 'block w-full px-4 py-2 text-left text-red-500' %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
  <!-- Username and time, content -->
  <div id="<%= dom_id(comment, :content) %>" class="flex flex-col gap-1 w-full max-w-[320px]">
    <%= render partial: 'comments/comment_content', locals: { comment: comment } %>
  </div>
</div>

<!-- Edit modal -->
<% if comment.user == current_user %>
  <div id="<%= dom_id(comment, :modal) %>" data-editcommentmodal-comment-id-value="<%= dom_id(comment, :modal) %>" data-editcommentmodal-target="editcommentmodal" data-controller="editcommentmodal" data-action="click->hello#stopToggle" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex justify-center items-center overflow-y-auto overflow-x-hidden bg-gray-900 bg-opacity-70">
    <div class="relative p-4 w-full max-w-sm min-h-[60vh] max-h-full">
      <div class="border border-gray-700 rounded-lg shadow bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
          <div class="flex items-center">
            <p class="text-sm md:text-base font-medium text-gray-900 dark:text-white">コメント編集</p>
          </div>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="<%= dom_id(comment, :modal) %>">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
          </button>
        </div>
        <!-- Modal body -->
        <div class="py-1 px-1">
          <%= turbo_frame_tag dom_id(comment, :edit), src: edit_catch_comment_path(catch, comment, format: :turbo_stream) %>
        </div>
      </div>
    </div>
  </div>
<% end %>