<div id="comment_<%= comment.id %>" class="pt-1">
  <% if comment.user == @catch.user %>
    <div class="chat chat-end" style="max-width: 100%; word-wrap: break-word; word-break: break-word;">
      <div class="chat-header text-sm text-gray-400">
        <%= comment.user.username %>
      </div>
      <div class="chat-bubble text-base text-gray-400 dark:bg-gray-800" style="max-width: 100%; white-space: normal;">
        <%= comment.content %>
      </div>
      <div class="chat-footer opacity-50">
        <% if comment.user == current_user %>
          <%= button_to 'Delete', catch_comment_path(comment.catch, comment), method: :delete, data: { turbo_method: :delete }, class: 'text-red-500 text-xs' %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="chat chat-start" style="max-width: 100%; word-wrap: break-word; word-break: break-word;">
      <div class="chat-header text-sm text-gray-400"">
        <%= comment.user.username %>
      </div>
      <div class="chat-bubble text-base text-gray-400 dark:bg-gray-800" style="max-width: 100%; white-space: normal;">
        <%= comment.content %>
      </div>
    </div>
    <div class="chat-footer opacity-50">
      <% if comment.user == current_user %>
        <%= button_to 'Delete', catch_comment_path(comment.catch, comment), method: :delete, data: { turbo_method: :delete }, class: 'text-red-500 text-xs' %>
      <% end %>
    </div>
  <% end %>
</div>