<% background_image_url = catch.images.attached? && catch.images.first.present? ? url_for(catch.images.first) : '/no_image.png' %>
<%= link_to catch_path(catch), class: "block" do %>
  <div class="card shadow-md compact bg-base-100 overflow-hidden catch-item" style="background-image: url('<%= background_image_url %>'); background-size: cover; background-position: center; border-radius: 15px; height: 70px;"> 
    <div class="card-body bg-opacity-50 bg-black text-neutral-content font-bold p-1" style="border-radius: 15px; height: 100%;">
      <div class="flex items-center mb-0 justify-between">
        <div>
          <p class="text-sm text-neutral-content leading-tight"><%= catch.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%-m月%-d日 %-H時%-M分") %></p>
          <p class="text-lg text-neutral-content leading-tight">
            <%= catch.user.username %> 
            <span class="ml-2"><%= catch.size %></span>
          </p>
        </div>
        <%= image_tag catch.user.profile_image.variant(resize_to_fill: [35, 35]), class: "w-10 h-10 rounded-full" %>
      </div>
    </div>
  </div>
<% end %>