<div class="card-body text-xl text-neutral-content font-bold" style="border-radius: 10px;">
  <div class="grid grid-cols-2 gap-1">
    <!-- Tide -->
    <div class="p-2 bg-gray-900 bg-opacity-50" style="border-radius: 10px;">
      <div class="flex items-center">
        <i class="fas fa-water text-gray-400 mr-2" style="width: 20px;"></i>
        <p class="leading-tight m-0"><%= catch.tide %></p>
      </div>
    </div>
    <!-- Tide Level -->
    <div class="p-2 bg-gray-900 bg-opacity-50" style="border-radius: 10px;">
      <div class="flex items-center">
        <i class="fas fa-tint text-gray-400 mr-2" style="width: 20px;"></i>
        <p class="leading-tight m-0"><%= catch.tide_level %></p>
      </div>
    </div>
    <!-- Range -->
    <div class="p-2 bg-gray-900 bg-opacity-50" style="border-radius: 10px;">
      <div class="flex items-center">
        <i class="fas fa-layer-group text-gray-400 mr-2" style="width: 20px;"></i>
        <p class="leading-tight m-0"><%= catch.range %></p>
      </div>
    </div>
    <!-- Size -->
    <div class="p-2 bg-gray-900 bg-opacity-50" style="border-radius: 10px;">
      <div class="flex items-center">
        <i class="fas fa-ruler-combined text-gray-400 mr-2" style="width: 20px;"></i>
        <p class="leading-tight m-0"><%= catch.size %></p>
      </div>
    </div>
    <!-- Memo -->
    <% if catch.memo.present? %>
      <div class="col-span-2 p-2 bg-gray-900 bg-opacity-50" style="border-radius: 10px;">
        <div class="flex items-center">
          <p class="leading-tight m-0"><%= catch.memo %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>