<%= form_with model: catch, html: { class: "relative space-y-2", data: { controller: "catch-spinner", action: "submit->catch-spinner#showSpinner" } } do |f| %>
  <div data-controller="file-upload">
    <div class="flex items-center justify-center w-full">
      <label for="catch-dropzone-file" class="flex items-center w-full bg-gray-50 border border-gray-300 text-gray-500 dark:text-gray-400 text-base rounded-lg cursor-pointer focus:ring-primary-600 focus:border-primary-600 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        data-file-upload-target="label" style="height: 44px; padding-left: 0;">
        <div class="rounded-tl-lg rounded-bl-lg bg-gray-200 dark:bg-gray-600 text-gray-700 dark:text-gray-400 px-4 py-2 h-full flex items-center" style="min-width: 120px;">
          <%= t('activerecord.attributes.catch.new.upload_prompt') %>
        </div>
        <div class="flex-1 px-4 py-2 h-full flex items-center bg-gray-50 dark:bg-gray-700 border-l border-gray-300 rounded-tr-lg rounded-br-lg dark:border-gray-600" style="display: inline-block; max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
          <span class="text-base text-gray-500 dark:text-gray-400 max-w-xs truncate" data-file-upload-target="fileName">
            <%= t('activerecord.attributes.catch.new.upload_placeholder') %>
          </span>
        </div>
        <%= f.file_field :images, multiple: true, id: "catch-dropzone-file", class: "hidden", direct_upload: true, data: { action: "change->file-upload#displayFileName", file_upload_target: "fileInput" } %>
      </label>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-2">
    <!-- Tide -->
    <%= f.select :tide, Catch.tides.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.tide_prompt') }, 
      { id: "tide_select", class: "bg-gray-50 border border-gray-300 text-gray-500 dark:text-gray-400 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>

    <!-- Tide level -->
    <%= f.select :tide_level, Catch.tide_levels.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.tide_level_prompt') }, 
      { id: "tide_level_select", class: "bg-gray-50 border border-gray-300 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-500 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>

    <!-- Range -->
    <%= f.select :range, Catch.ranges.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.range_prompt') }, 
      { id: "range_select", class: "bg-gray-50 border border-gray-300 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-500 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>

    <!-- Size -->
    <%= f.select :size, Catch.sizes.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.size_prompt') }, 
      { id: "size_select", class: "bg-gray-50 border border-gray-300 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-500 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
  </div>

  <!-- Memo -->
  <%= f.text_area :memo, id: "memo", placeholder: t('activerecord.attributes.catch.new.memo'), class: "bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 text-gray-500 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" %>

  <!-- Toggle Map -->
  <div data-controller="catchtogglemap">
    <label class="py-2 inline-flex w-full justify-end cursor-pointer">
      <input id="location-catch-toggle" type="checkbox" value="" class="sr-only peer" data-action="change->catchtogglemap#catchtoggleMap">
      <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
      <span class="ms-3 text-base font-medium text-gray-900 dark:text-gray-300">
        <% if catch.persisted? %>
          <%= t('activerecord.attributes.catch.edit.map') %>
        <% else %>
          <%= t('activerecord.attributes.catch.new.map') %>
        <% end %>
      </span>
    </label>

    <div id="catch-location-fields" data-catchtogglemap-target="catchLocationFields" style="display: none;">
      <div id="map-spinner-catch-<%= catch.id %>" class="flex items-center justify-center min-h-[300px]" style="display: none;">
        <div role="status" class="text-center">
          <button disabled type="button" class="py-3 px-5 me-2 text-base font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
            <svg aria-hidden="true" role="status" class="inline w-6 h-6 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
            </svg>
            Loading...
          </button>
        </div>
      </div>

      <!-- Latitude and Longitude -->
      <div data-controller="catchnewmap"
          data-map-api-key-value="<%= Rails.application.credentials.google[:maps_api_key] %>"
          data-map-id-value="<%= Rails.application.credentials.google[:maps_id] %>"
          data-catch-id-value="<%= catch.id %>">
        <%= f.hidden_field :latitude, data: { catchnewmap_target: "catchLatitude" } %>
        <%= f.hidden_field :longitude, data: { catchnewmap_target: "catchLongitude" } %>
      </div>

      <!-- Map area -->
      <div id="catch-map-<%= catch.id %>" class="rounded-lg mt-2" style="width: 100%; height: 200px;"></div>
    </div>
  </div>

  <!-- Submit button -->
  <% if catch.persisted? %>
    <%= f.submit t('activerecord.attributes.catch.edit.submit'), class: "w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
  <% else %>
    <%= f.submit t('activerecord.attributes.catch.new.submit'), class: "w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
  <% end %>

  <!-- Submit of spinner -->
  <div id="catch-submit-spinner" data-catch-spinner-target="catchSpinner" class="fixed inset-0 flex justify-center items-center bg-gray-800 bg-opacity-50 z-50" style="display: none;">
    <button disabled type="button" class="py-3 px-5 me-2 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center">
      <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
      </svg>
      Uploading...
    </button>
  </div>
<% end %>