<%= form_with model: catch, html: { class: "space-y-2 md:space-y-6" } do |f| %>

  <div class="form-control relative z-0 w-full group">
    <label for="tide_select" class="sr-only"><%= t('activerecord.attributes.catch.new.tide_prompt') %></label>
    <%= f.select :tide, Catch.tides.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.tide_prompt') }, 
      { id: "tide_select", class: "block py-2.5 px-0 w-full text-base text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" } %>
  </div>

  <div class="form-control relative z-0 w-full group">
    <label for="tide_level_select" class="sr-only"><%= t('activerecord.attributes.catch.new.tide_level_prompt') %></label>
    <%= f.select :tide_level, Catch.tide_levels.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.tide_level_prompt') }, 
      { id: "tide_level_select", class: "block py-2.5 px-0 w-full text-base text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" } %>
  </div>

  <div class="form-control relative z-0 w-full group">
    <label for="range_select" class="sr-only"><%= t('activerecord.attributes.catch.new.range_prompt') %></label>
    <%= f.select :range, Catch.ranges.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.range_prompt') }, 
      { id: "range_select", class: "block py-2.5 px-0 w-full text-base text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" } %>
  </div>

  <div class="form-control relative z-0 w-full group">
    <label for="size_select" class="sr-only"><%= t('activerecord.attributes.catch.new.size_prompt') %></label>
    <%= f.select :size, Catch.sizes.keys.map { |key| [key, key] }, 
      { prompt: t('activerecord.attributes.catch.new.size_prompt') }, 
      { id: "size_select", class: "block py-2.5 px-0 w-full text-base text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none dark:text-gray-400 dark:border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer" } %>
  </div>

  <div class="relative z-0 w-full group">
    <label class="block text-base py-2 font-medium text-gray-500 dark:text-gray-400" for="file_input"></label>
    <%= f.file_field :images, multiple: true, id: "file_input", 
      class: "file-input file-input-bordered file-input-md w-full max-w-xs text-gray-500 bg-gray-100 border-gray-300 dark:text-gray-400 dark:bg-gray-700 dark:border-gray-600" %>
  </div>

  <div class="form-control relative z-0 w-full group">
    <label for="memo" class="block text-sm text-gray-900 dark:text-white"></label>
    <%= f.text_field :memo, placeholder: t('activerecord.attributes.catch.new.memo'), id: "memo", class: "block p-2.5 w-full text-base text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
  </div>

  <%= f.hidden_field :latitude %>
  <%= f.hidden_field :longitude %>


  <div class="mt-6">
    <% if catch.persisted? %>
      <%= f.submit t('activerecord.attributes.catch.edit.submit'), class: "w-full text-base text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-3 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
    <% else %>
      <%= f.submit t('activerecord.attributes.catch.new.submit'), class: "w-full text-base text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-3 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
    <% end %>
  </div>

<% end %>