<li class="py-3 border-b border-gray-700">
  <div class="block" role="button" tabindex="0" data-controller="hello" data-action="click->hello#toggle" style="cursor: pointer;">
    <div class="flex items-center">
      <!-- Image -->
      <%= turbo_frame_tag "catch_index_#{catch.id}_image" do %>
        <div class="flex -space-x-4 rtl:space-x-reverse">
          <%= image_tag catch.user.profile_image, class: "w-[42px] h-[42px] rounded-full", alt: "#{catch.user.username} profile image" %>
        </div>
      <% end %>
      <!-- Info -->
      <div class="flex-1 min-w-0 ms-2">
        <p class="text-base truncate text-gray-400">
          <%= catch.user.username %>
        </p>
        <p class="text-base truncate text-gray-400">
          <%= catch.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%-m月%-d日 %-H時%-M分") %>
        </p>
      </div>
    </div>
    <!-- Turbo Frame -->
    <div class="hidden pt-4" data-hello-target="content">
      <%= turbo_frame_tag "catch_index_#{catch.id}_show", src: catch_path(catch, format: :turbo_stream), loading: "lazy" %>
    </div>
  </div>
</li>