<div class="feature p-2 text-xl text-neutral-content font-bold rounded-lg flex justify-between items-baseline transform transition duration-500 mt-0" style="margin-top: 0;">
  <% if current_user == @catch.user %>
    <button class="p-0 text-neutral-content font-bold flex items-center" style="background-color: transparent; border: none; margin: 0;" onclick="editModal.showModal()">
      <%= t('activerecord.attributes.catch.show.edit') %>
      <i class="fas fa-edit ml-0.5"></i>
    </button>
  <% end %>
  <div class="flex items-center">
    <span class="leading-tight text-xl">
      <%= @catch.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%-m月%-d日 %-H時%-M分") %>
    </span>
  </div>
</div>

<div id="catch_<%= @catch.id %>_images">
  <%= render 'images', catch: @catch %>
</div>

<div id="catch_<%= @catch.id %>_details">
  <%= render 'details', catch: @catch %>
</div>
  
<!-- アクションボタン -->
<div class="grid grid-cols-1 gap-2 mt-1 w-full">
  <% if session[:source] == 'user' %>
    <%= link_to t('activerecord.attributes.catch.show.back'), user_index_path(current_user), class: 'btn btn-outline p-2 text-xl text-neutral-content font-bold' %>
  <% else %>
    <%= link_to t('activerecord.attributes.catch.show.back'), catches_path, class: 'btn btn-outline p-2 text-xl text-neutral-content font-bold' %>
  <% end %>
</div>

<!-- edit Modal -->
<div data-controller="editmodal">
  <dialog id="editModal" class="modal" data-editmodal-target="editModal">
    <div class="modal-box text-neutral-content font-bold">
      <turbo-frame id="edit_catch_form" src="<%= edit_catch_path(@catch) %>"></turbo-frame>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button class>Close</button>
    </form>
  </dialog>
</div>