<% background_image_url = diary.images.attached? && diary.images.first.present? ? url_for(diary.images.first) : '/no_image.png' %>
<%= link_to diary_path(diary), class: "block" do %>
  <div class="card shadow-md compact bg-base-100 overflow-hidden catch-item" style="background-image: url('<%= background_image_url %>'); background-size: cover; background-position: center; border-radius: 15px; height: 70px;">
    <div class="card-body bg-opacity-50 bg-black text-neutral-content font-bold flex items-center" style="border-radius: 15px; height: 100%; padding: 0.5rem 1rem; display: flex; align-items: center; justify-content: center;">
      <div class="flex items-center justify-between w-full" style="padding: 0; margin: 0;">
          <% if current_user == diary.user %>
            <%= link_to t('activerecord.attributes.diary.show.delete'), diary_path(diary), method: :delete, data: { turbo_confirm: t('activerecord.attributes.diary.show.confirm'), turbo_method: :delete }, class: 'btn btn-outline p-2 text-xl text-neutral-content font-bold' %>
          <% end %>
        <div class="flex flex-col justify-center" style="margin: 0;">
          <p class="text-base text-neutral-content leading-tight m-0 flex items-center" style="margin: 0;">
            <%= diary.catch_count %>
            <span class="ml-2 text-base text-neutral-content"><%= diary.weather %></span>
            <span class="ml-2 text-base text-neutral-content"><%= diary.time_of_day %></span>
          </p>
          <p class="text-xl text-neutral-content leading-tight m-0" style="margin: 0;">
            <%= diary.diary_date.strftime("%Y年%-m月%-d日") %>
          </p>
        </div>
        <%= image_tag diary.user.profile_image.variant(resize_to_fill: [35, 35]).processed, class: "w-10 h-10 rounded-full", style: "margin: 0;" %>
      </div>
    </div>
  </div>
<% end %>