<turbo-frame id="edit_diary_form">
  <% if @diary.images.attached? %>
    <div id="carousel_wrapper_<%= @diary.id %>">
      <div class="carousel w-full mb-2 relative">
        <% @diary.images.each_with_index do |image, index| %>
          <div id="slide_<%= image.id %>" class="carousel-item relative w-full">
            <%= image_tag url_for(image), class: "w-full h-40 object-cover rounded", style: "border-radius: 10px;" %>
            <%= link_to purge_image_diary_path(@diary, image_id: image.id), data: { turbo_method: :delete }, class: "absolute top-2 right-2 bg-red-500 text-white rounded-full w-6 h-6 flex items-center justify-center" do %>
              <i class="fas fa-times text-sm"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="flex justify-center w-full py-1 gap-1">
        <% @diary.images.each_with_index do |image, index| %>
          <a id="carousel_link_<%= image.id %>" href="#slide_<%= image.id %>" class="btn btn-xs" style="outline: none; box-shadow: none;"><%= index + 1 %></a>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= render 'form', diary: @diary %>
</turbo-frame>