<%= turbo_frame_tag "like_button_#{catch.id}" do %>
  <% if user_signed_in? %>
    <% if current_user.liked_catches.include?(catch) %>
      <%= link_to catch_like_path(catch), method: :delete, data: { turbo_method: :delete }, class: 'flex items-center justify-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-0 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 likeButton liked' do %>
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
            <path d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"/>
          </svg>
          <% if catch.likes.count > 0 %>
            <span class="ml-2 text-xs dark:text-white self-end"><%= catch.likes.count %></span>
          <% end %>
      <% end %>
    <% else %>
      <%= link_to catch_like_path(catch), method: :post, data: { turbo_method: :post }, class: 'flex items-center justify-center text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-xs px-0 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 likeButton' do %>
          <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
            <path d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"/>
          </svg>
          <% if catch.likes.count > 0 %>
            <span class="ml-2 text-xs dark:text-gray-400 self-end"><%= catch.likes.count %></span>
          <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to catch_like_path(catch), method: :post, data: { turbo_method: :post }, class: 'flex items-center justify-center text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-xs px-0 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700' do %>
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
          <path d="M3 7H1a1 1 0 0 0-1 1v8a2 2 0 0 0 4 0V8a1 1 0 0 0-1-1Zm12.954 0H12l1.558-4.5a1.778 1.778 0 0 0-3.331-1.06A24.859 24.859 0 0 1 6 6.8v9.586h.114C8.223 16.969 11.015 18 13.6 18c1.4 0 1.592-.526 1.88-1.317l2.354-7A2 2 0 0 0 15.954 7Z"/>
        </svg>
          <% if catch.likes.count > 0 %>
            <span class="ml-2 text-xs dark:text-gray-400 self-end"><%= catch.likes.count %></span>
          <% end %>
    <% end %>
  <% end %>
<% end %>