<div class="card-box mx-auto">
    <div class="card-body">
      <div class="w-full max-w-xs mx-auto text-center">
        <h2 class="text-neutral-content font-bold"><%= t('.forgot_your_password') %></h2>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "space-y-3 text-neutral-content font-bold flex flex-col items-center" }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-control w-full max-w-xs relative flex justify-center">
          <i class="fas fa-envelope absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
          <%= f.email_field :email, placeholder: t('activerecord.attributes.user.email'), autocomplete: "email", class: "input input-bordered w-full max-w-xs pl-10 text-neutral-content font-bold" %>
        </div>

        <div class="divider divider-neutral w-full max-w-xs mx-auto"></div>

        <div class="card-actions w-full max-w-xs mx-auto flex justify-center">
          <%= f.submit t('.send_me_reset_password_instructions'), class: "btn btn-outline btn-primary w-full max-w-xs text-neutral-content font-bold" %>
        </div>
      <% end %>
    </div>
</div>
