<div class="px-4 pt-6">
  <!-- Details -->
  <div class="grid grid-cols-2 gap-4">
    <% attributes = {
      tide: t('activerecord.attributes.catch.show.tide'),
      tide_level: t('activerecord.attributes.catch.show.tide_level'),
      range: t('activerecord.attributes.catch.show.range'),
      size: t('activerecord.attributes.catch.show.size')
    } %>

    <% attributes.each do |key, label| %>
      <div class="flex flex-col">
        <span class="block mb-2 text-xs font-medium text-gray-900 dark:text-white">
          <%= label %>
        </span>
        <p class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full pl-3 p-2 dark:bg-gray-900 dark:border-gray-700 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <%= catch.send(key) %>
        </p>
      </div>
    <% end %>
  </div>

  <!-- Memo -->
  <% if catch.memo.present? %>
    <div class="flex flex-col mt-4">
      <span class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"><%= t('activerecord.attributes.catch.show.memo') %></span>
      <p class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full pl-3 p-2 dark:bg-gray-900 dark:border-gray-700 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 break-words whitespace-normal"><%= catch.memo %></p>
    </div>
  <% end %>

  <!-- Google Map -->
  <% if catch.latitude.present? && catch.longitude.present? %>
    <div class="flex flex-col mt-4">
      <span class="block mb-2 text-xs font-medium text-gray-900 dark:text-white"><%= t('activerecord.attributes.catch.show.map') %></span>
      <div data-controller="catchshowmap"
          data-catchshowmap-latitude-value="<%= catch.latitude %>"
          data-catchshowmap-longitude-value="<%= catch.longitude %>"
          data-catchshowmap-map-id-value="<%= Rails.application.credentials.google[:maps_id] %>"
          data-catchshowmap-api-key-value="<%= Rails.application.credentials.google[:maps_api_key] %>"
          data-catchshowmap-catch-id-value="<%= catch.id %>">
        <div id="map_<%= catch.id %>" class="rounded-lg map-container" style="height: 200px;">
        </div>
      </div>
    </div>
  <% end %>

  <!-- Bottom menu -->
  <div class="my-4">
    <!-- Delete --> 
    <%= turbo_frame_tag "admin_catch_#{catch.id}" do %>
      <%= link_to admin_catch_path(catch), data: { turbo_confirm: t('activerecord.attributes.catch.show.confirm'), turbo_method: :delete }, class: 'flex items-center justify-center text-gray-900 bg-white focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-xs px-3 py-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700' do %>
        <%= t('activerecord.attributes.catch.show.delete') %>
      <% end %>
    <% end %>
</div>