<div class="grid gap-4 grid-cols-2">

  <!-- Tide -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.catch.new.tide_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= catch.tide %>
    </div>
  </div>

  <!-- Tide Level -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.catch.new.tide_level_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= catch.tide_level %>
    </div>
  </div>

  <!-- Range -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.catch.new.range_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base xl:text-lg rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= catch.range %>
    </div>
  </div>

  <!-- Size -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.catch.new.size_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= catch.size %>
    </div>
  </div>

  <!-- Memo -->
  <% if catch.memo.present? %>
    <div class="col-span-2">
      <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
        <%= t('activerecord.attributes.catch.new.memo') %>
      </div>
      <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <%= catch.memo %>
      </div>
    </div>
  <% end %>

  <!-- Google Map -->
  <% if catch.latitude.present? && catch.longitude.present? %>
    <div class="col-span-2">
      <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
        <%= t('activerecord.attributes.catch.show.map') %>
      </div>
      <div data-controller="catchshowmap"
          data-catchshowmap-latitude-value="<%= catch.latitude %>"
          data-catchshowmap-longitude-value="<%= catch.longitude %>"
          data-catchshowmap-map-id-value="<%= Rails.application.credentials.google[:maps_id] %>"
          data-catchshowmap-api-key-value="<%= Rails.application.credentials.google[:maps_api_key] %>"
          data-catchshowmap-catch-id-value="<%= catch.id %>">
        <div id="map_<%= catch.id %>" class="rounded-lg map-container h-[300px] md:h-[150px]">
        </div>
      </div>
    </div>
  <% end %>
</div>