<div class="grid gap-4 grid-cols-2">

  <!-- Weather -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.diary.new.weather_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= diary.weather %>
    </div>
  </div>

  <!-- Time of day -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.diary.new.time_of_day_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= diary.time_of_day %>
    </div>
  </div>

  <!-- Temperature -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.diary.new.temperature_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base xl:text-lg rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= diary.temperature %>
    </div>
  </div>

  <!-- Catch_count -->
  <div class="w-full">
    <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
      <%= t('activerecord.attributes.diary.new.catch_count_prompt') %>
    </div>
    <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
      <%= diary.catch_count %>
    </div>
  </div>

  <!-- Content -->
  <% if diary.content.present? %>
    <div class="col-span-2">
      <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
        <%= t('activerecord.attributes.diary.new.content') %>
      </div>
      <div class="bg-gray-50 border border-gray-300 text-gray-900 text-sm md:text-base rounded-lg p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        <%= diary.content %>
      </div>
    </div>
  <% end %>

  <!-- Google Map -->
  <% if diary.latitude.present? && diary.longitude.present? %>
    <div class="col-span-2">
      <div class="block mb-2 text-sm md:text-base font-medium text-gray-900 dark:text-white">
        <%= t('activerecord.attributes.diary.show.map') %>
      </div>
      <div data-controller="diaryshowmap"
          data-diaryshowmap-latitude-value="<%= diary.latitude %>"
          data-diaryshowmap-longitude-value="<%= diary.longitude %>"
          data-diaryshowmap-map-id-value="<%= Rails.application.credentials.google[:maps_id] %>"
          data-diaryshowmap-api-key-value="<%= Rails.application.credentials.google[:maps_api_key] %>"
          data-diaryshowmap-diary-id-value="<%= diary.id %>">
        <div id="map_<%= diary.id %>" class="rounded-lg map-container h-[300px] md:h-[150px]">
        </div>
      </div>
    </div>
  <% end %>
</div>