<div id="<%= dom_id(diary, :admin) %>" class="flex flex-col md:flex-row items-center bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-900 w-full max-w-full">
  <div class="w-full md:w-48 h-32 md:h-64 flex-shrink-0">
    <% if diary.images.attached? %>
      <%= image_tag diary.images.first, class: "object-cover w-full h-full rounded-t-lg md:rounded-none md:rounded-s-lg", alt: "Diary Image" %>
    <% else %>
      <img src="/index.png" class="object-cover w-full h-full rounded-t-lg md:rounded-none md:rounded-s-lg" alt="Default Image">
    <% end %>
  </div>
  <!-- Info -->
  <div class="flex flex-col justify-between p-4 md:px-6 w-full leading-normal">
    <!-- User image and name -->
    <div class="flex items-center mb-4">
      <div class="flex-shrink-0">
        <%= image_tag diary.user.profile_image, class: "w-10 h-10 md:w-12 md:h-12 xl:w-13 xl:h-13 rounded-full object-cover", alt: "#{diary.user.username} profile image" %>
      </div>
      <div class="ml-4">
        <p class="text-sm md:text-base font-medium text-gray-900 dark:text-white"><%= diary.user.username %></p>
        <p class="text-sm md:text-base text-gray-500 dark:text-gray-400">
          <%= l diary.diary_date, format: :long %>
        </p>
      </div>
    </div>
      <% if diary.content.present? %>
        <p class="mb-3 text-sm md:text-base font-normal text-gray-700 dark:text-gray-400">
          <%= truncate(diary.content, length: 60, omission: '...') %>
        </p>
      <% end %>
    <!-- Detail button -->
    <button data-modal-target="<%= dom_id(diary, :modal) %>" data-modal-toggle="<%= dom_id(diary, :modal) %>" class="block w-full md:w-auto text-white bg-gray-900 hover:bg-blue-900 focus:ring-4 focus:outline-none focus:ring-blue-900 font-medium rounded-lg text-sm md:text-base px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-blue-900 dark:focus:ring-blue-900">
      詳しく見る
    </button>
  </div>
</div>

<!-- Detail modal -->
<div id="<%= dom_id(diary, :modal) %>" data-controller="diarydestroy" data-diarydestroy-modal-id-value="<%= dom_id(diary, :modal) %>" tabindex="-1" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-5rem)] max-h-full">
  <div class="relative w-full max-w-4xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= image_tag diary.user.profile_image, class: "w-10 h-10 md:w-12 md:h-12 xl:w-13 xl:h-13 rounded-full object-cover", alt: "#{diary.user.username} profile image" %>
          </div>
          <div class="ml-4">
            <p class="text-sm md:text-base font-medium text-gray-900 dark:text-white"><%= diary.user.username %></p>
            <p class="text-sm md:text-base text-gray-500 dark:text-gray-400">
              <%= diary.created_at.in_time_zone('Asia/Tokyo').strftime("%Y年%-m月%-d日 %-H時%-M分") %>
            </p>
          </div>
        </div>
        <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="<%= dom_id(diary, :modal) %>">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
          </svg>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4 md:p-5 space-y-4">
        <%= turbo_frame_tag dom_id(diary, :admin_show), src: admin_diary_path(diary, format: :turbo_stream) %>
      </div>
      <!-- Modal footer -->
      <div class="flex justify-end p-4 md:p-5 gap-3 border-t border-gray-200 rounded-b dark:border-gray-600 text-sm md:text-base">
        <div class="grid grid-cols-2 gap-4 w-full md:flex md:space-x-3 md:gap-0 md:justify-end">
          <!-- Delete button -->
          <%= button_to admin_diary_path(diary), method: :delete, data: { turbo_method: :delete, turbo_confirm: t('activerecord.attributes.diary.show.confirm') }, class: 'w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 dark:focus:ring-blue-800 border dark:border-gray-600' do %>削除<% end %>
          <!-- Close button -->
          <button data-modal-hide="<%= dom_id(diary, :modal) %>" type="button" class="col-span-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-gray-800 dark:hover:bg-gray-600 dark:focus:ring-blue-800 border dark:border-gray-600">閉じる</button>
        </div>
      </div>
    </div>
  </div>
</div>